* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: black;
}

.frontal {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.title {
    font-family: 'Silkscreen', cursive;
    color: white;
}

.small-logo {
  display: none;
}

@media (max-width: 700px) {
  .logo-regular {
    display: none;
  }

  .small-logo {
    display: flex;
  }
}

.middle {
  margin-top: 5rem;
  padding: 0.5rem;
  display: flex;
}

.project-social-link {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
  transition: all 150ms ease-in-out;
}

.project-social-link:hover {
  color: greenyellow;
}

/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: black;
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 75%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-2400%, 0, 0); }
}
.hmove { animation: tickerh linear 60s infinite; }
.hmove:hover { animation-play-state: paused; }

.ticker-logo {
  font-family: 'Silkscreen', cursive;
  color: white;
}

.x {
    color: white;
}
